body{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
h1{
    color: rgb(247, 62, 139);
}
h2{
    color: rgb(240, 144, 203);
}
.container{
        align-content: center;
        text-align: center;
}