body{
    background-color:#8f8b8b;
    
}
h1{
    color: #92c9ee;
    text-align: center;
}
h2{
    color:#d8a2f7;
    text-align: center;
}
h3{
    color: #f772d6;
    text-align: center;
}
h4{
    color:#F68587;
    text-align: center;
}