body{
    background-image: url("fondoTablas.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
h1{
    color: rgb(247, 249, 249);
}
h2{
    color:rgb(247, 249, 249);
}
.container{
        align-content: center;
        text-align: center;
}